/// dctb-sass
/// Sass Boilerplate to start new project with some functionalities.
/// @author Diogo Cezar <diogo@diogocezar.com>

// Colors
// Set the project colors here

$color-black: #000000;
$color-white: #ffffff;
$color-gray: #333333;

$color-body-background: #fff;
$color-body: #000;