/// dctb-sass
/// Sass Boilerplate to start new project with some functionalities.
/// @author Diogo Cezar <diogo@diogocezar.com>

// Fonts
// Set the project fonts here

// Fonts Include
@include font-face("Samplina Neue", fonts/SamplinaNeue, bold, italic);

$font-primary : 'Roboto', sans-serif;
$font-secundary : 'Arial', sans-serif;
$font-tertiary : 'Tahoma', sans-serif;