/// dctb-sass
/// Sass Boilerplate to start new project with some functionalities.
/// @author Diogo Cezar <diogo@diogocezar.com>

// Sizes
// Set the project sizes here

$size-base: 14px;
$size-normal: 1em;

$size-s5: 0.5em;
$size-s4: 1em;
$size-s3: 2em;
$size-s2: 3em;
$size-s1: 4em;